* {
    margin: 0; padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-game {
    display: grid;
    grid: repeat(2, 60px) / auto-flow 300px;
    justify-content: center;
    transform: translateY(300px);
}

.current-player {
    font-size: 39px;
    transform: translateX(300px);
    margin: 30px 0px 0px 0px;
}

.stats-player {
    transform: translateY(32px);
}

.cell {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    border: 1px solid #000;
    cursor: pointer;
    vertical-align: middle;
    transition: background .1s;
}

#map {
    margin: 120px 0px 0px 0px;
    width: 200px;
    padding: 15px 10px 15px 50px;
    border: 2px solid black;
    border-radius: 30px;
}

.cell:nth-child(1) , .cell:nth-child(2) , .cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1) , .cell:nth-child(4) , .cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3) , .cell:nth-child(6) , .cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7) , .cell:nth-child(8) , .cell:nth-child(9) {
    border-bottom: none;
}

.stats-player table, .stats-player th, .stats-player td {
    width: 250px;
    border: 1px solid #000;
    padding: 15px;
    text-align: center;
}

.stats-player th {
    border-radius: 25px;
}

.stats-player td {
    border-radius: 7px;
}

.stats-player table {
    border-radius: 15px;
}